<header-component></header-component>

<div class="first-element">
</div>
<div class="jumbotron">
  <div class="floating-logo">
    <img ng-src="../assets/img/city-logo.png" class="img-responsive">
  </div>
  <div class="container" style="min-height: 200px;">
  </div>
</div>

<div class="container">
  <div class="row bottom-margin">
    <div class="col-xs-12">
      <h1 class="text-uppercase text-center text-primary">
        {{ 'HOME.TITLE' | translate }}
      </h1>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <p>
        {{ 'HOME.DESCRIPTION' | translate }}
      </p>
      <div class="text-center">
        <a ui-sref="leaderboard" class="btn btn-primary btn-large">
          {{ 'GENERAL.NAVBAR.LEADERBOARD' | translate }}
        </a>
      </div>
    </div>
    </div>
  </div>
</div>
