<header-component></header-component>

<!-- Extra cell to add new -->
<a href="" class="floating-button" ng-click="$ctrl.openTrainingGroupCreateModal()">
  <i class="fa fa-plus"></i>
</a>

<div class="container">
  <div class="bottom-margin">
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="trainingGroup in $ctrl.trainingGroups | orderBy:'-start_date'">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-uppercase">
            {{ trainingGroup.title }}
            <a href="" class="pull-right" ng-click="$ctrl.openTrainingGroupCreateModal(trainingGroup)">
              <i class="fa fa-pencil"></i>
          </a></h3>
        </div>
        <div class="list-group">
          <a href="" class="list-group-item" ng-repeat="trainingDay in trainingGroup.dates"
             ng-class="{'list-group-item-info': trainingDay.isSame($ctrl.moment(), 'day')}"
             ng-click="$ctrl.openGameCreateModal(trainingDay, trainingGroup)">
            {{ trainingDay | amDateFormat:'ddd, ll' }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="$ctrl.fullTrainees.length">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-uppercase">{{'TRAINING_GROUP.FULL_TRACKERS' | translate}}</h3>
        </div>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="trainee in $ctrl.fullTrainees | orderBy:'favorite_tracker_commercial_name'">
            <div class="pull-right">{{ trainee.favorite_tracker_commercial_name }}</div> {{ trainee.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
