<header-component></header-component>

<div class="container-fluid">
  <div class="panel panel-primary" style="margin-top: 10px">
    <div class="panel-heading">
      <h4 class="panel-title text-uppercase">{{ 'GAME.PICK_GAME' | translate }}</h4>
    </div>
    <div class="list-group" infinite-scroll="$ctrl.getNextPage()" infinite-scroll-distance="1">
      <a ng-href="{{ $ctrl.gameDetailLink(game) }}" class="list-group-item" ng-repeat="game in $ctrl.games">
        {{ $ctrl.gameTypesDisplay(game.game_type)|translate }} - {{ game.training_group.title }}<br/>
        <small>{{ game.start_date | amCalendar }}</small>
      </a>
    </div>
  </div>
</div>
