<header-component></header-component>

<div ng-if="$ctrl.showLineUp">
  <div class="first-element">
  </div>
  <div class="jumbotron">
    <div class="floating-logo">
      <img ng-src="../assets/img/city-logo.png" class="img-responsive">
    </div>
    <div class="container-fluid">
      <div class="row text-center">
        <div>
          <line-up-line ng-repeat="players in $ctrl.players[0]" players="players" inverted="true" class="inverted">
          </line-up-line>
        </div>
        <div style="border: .5px solid;">
        </div>
        <div>
          <line-up-line ng-repeat="players in $ctrl.players[1].slice().reverse()" players="players" class="straight">
          </line-up-line>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-margin" ng-if="!$ctrl.showLineUp">
</div>

<div class="container">
  <div class="row bottom-margin">
    <div class="col-xs-6">
      <div class="media">
        <div class="media-left">
          <div class="flag-icon-background flag-icon-squared img-circle squared-thumbnail flag-icon-gb">
          </div>
        </div>
        <div class="media-body">
          <h4 class="media-heading text-uppercase">City Football Academy</h4>
          Manchester
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="media">
        <div class="media-left">
          <i class="fa fa-calendar text-center fa-2x squared-thumbnail line-height-thumbnail"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading text-uppercase" ng-if="$ctrl.game">{{ $ctrl.gameTypesDisplay($ctrl.game.game_type)| translate}}</h4>
          {{ $ctrl.game.start_date | amCalendar }}
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-primary" ng-if="$ctrl.sessions.length">
    <div class="panel-heading">
      <h4 class="panel-title text-uppercase">
        {{ 'GAME.RANKING' | translate}}
      </h4>
    </div>
    <div class="table-responsive">
      <table class="table text-uppercase text-center table-hover">
        <thead>
          <tr>
            <th>
              {{ 'GAME.NAME' | translate}}
            </th>
            <th href="" class="text-center" ng-click="$ctrl.activeColumn = 'score'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == 'score'}">
                {{ 'GAME.STATS.TOT' | translate}}
              </span>
            </th>

            <!-- Speed -->
            <th href="" class="text-center" ng-click="$ctrl.activeColumn = 'speed_score'"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'speed_score'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == 'speed_score'}">
                {{ 'GAME.STATS.PAC' | translate}}
              </span>
            </th>
            <th class="text-center"
                ng-show="$ctrl.activeColumn == 'speed_score'">
              {{ 'GAME.STATS.SPD' | translate}}
            </th>
            <th class="text-center"
                ng-show="$ctrl.activeColumn == 'speed_score'">
              {{ 'GAME.STATS.SCT' | translate}}
            </th>

            <!-- Stamina -->
            <th href="" class="text-center" ng-click="$ctrl.activeColumn = 'stamina_score'"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'stamina_score'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == 'stamina_score'}">
                {{ 'GAME.STATS.STA' | translate}}
              </span>
            </th>
            <th class="text-center"
                ng-show="$ctrl.activeColumn == 'stamina_score'">
              {{ 'GAME.STATS.DIS' | translate}}
            </th>
            <th class="text-center"
                ng-show="$ctrl.activeColumn == 'stamina_score'">
              {{ 'GAME.STATS.ACT' | translate}}
            </th>
            <th class="text-center"
                ng-show="$ctrl.activeColumn == 'stamina_score'">
              {{ 'GAME.STATS.SAG' | translate}}
            </th>

            <!-- Dribble -->
            <th href="" class="text-center" ng-click="$ctrl.activeColumn = 'dribbling_score'"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'dribbling_score'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == 'dribbling_score'}">
                {{ 'GAME.STATS.DRI' | translate}}
              </span>
            </th>

            <!-- Defending -->
            <th href="" class="text-center" ng-click="$ctrl.activeColumn = 'defending_score'"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'defending_score'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == 'defending_score'}">
                {{ 'GAME.STATS.DEF' | translate}}
              </span>
            </th>

            <!-- Passing -->
            <th href="" class="text-center" ng-click="$ctrl.activeColumn = 'passing_score'"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'passing_score'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == 'passing_score'}">
                {{ 'GAME.STATS.PAS' | translate}}
              </span>
            </th>
            <th class="text-center"
                ng-show="$ctrl.activeColumn == 'passing_score'">
              {{ 'GAME.STATS.PCT' | translate}}
            </th>

            <!-- Shooting -->
            <th href="" class="text-center" ng-click="$ctrl.activeColumn = 'shooting_score'"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'shooting_score'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == 'shooting_score'}">
                {{ 'GAME.STATS.SHO' | translate}}
              </span>
            </th>
            <th class="text-center"
                ng-show="$ctrl.activeColumn == 'shooting_score'">
              {{ 'GAME.STATS.SHC' | translate}}
            </th>
            <th class="text-center"
                ng-show="$ctrl.activeColumn == 'shooting_score'">
              {{ 'GAME.STATS.SSP' | translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="session in $ctrl.sessions | orderBy:$ctrl.activeColumn:true"
              ui-sref="sessionDetail({id: session.localId})">
            <td class="text-left">
              {{ session.player.name }}
            </td>
            <td ng-class="{'h5': $ctrl.activeColumn == 'score'}">
              {{ session.score | formatNumber:'0' }}
            </td>

            <!-- Speed -->
            <td ng-class="{'h5': $ctrl.activeColumn == 'speed_score'}"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'speed_score'">
              {{ session.speed_score | formatNumber:'0' }}
            </td>
            <td ng-show="$ctrl.activeColumn == 'speed_score'">
              {{ session.sprint_speed * 3.6 | formatNumber:'0.0' }} km/h
            </td>
            <td ng-show="$ctrl.activeColumn == 'speed_score'">
              {{ session.number_of_sprints | formatNumber:'0' }}
            </td>

            <!-- Stamina -->
            <td ng-class="{'h5': $ctrl.activeColumn == 'stamina_score'}"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'stamina_score'">
              {{ session.stamina_score | formatNumber:'0' }}
            </td>
            <td ng-show="$ctrl.activeColumn == 'stamina_score'">
              {{ session.distance_run / 1000 | formatNumber:'0.0' }} km
            </td>
            <td ng-show="$ctrl.activeColumn == 'stamina_score'">
              {{ session.activity * 100 | formatNumber:'0' }}%
            </td>
            <td ng-show="$ctrl.activeColumn == 'stamina_score'">
              {{ session.stop_and_go | formatNumber:'0' }} /5min
            </td>

            <!-- Dribble -->
            <td ng-class="{'h5': $ctrl.activeColumn == 'dribbling_score'}"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'dribbling_score'">
              {{ session.dribbling_score | formatNumber:'0' }}
            </td>

            <!-- Defending -->
            <td ng-class="{'h5': $ctrl.activeColumn == 'defending_score'}"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'defending_score'">
              {{ session.defending_score | formatNumber:'0' }}
            </td>

            <!-- Passing -->
            <td ng-class="{'h5': $ctrl.activeColumn == 'passing_score'}"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'passing_score'">
              {{ session.passing_score | formatNumber:'0' }}
            </td>
            <td ng-show="$ctrl.activeColumn == 'passing_score'">
              {{ session.pass_number | formatNumber:'0' }}
            </td>

            <!-- Shooting -->
            <td ng-class="{'h5': $ctrl.activeColumn == 'shooting_score'}"
                ng-show="$ctrl.activeColumn == 'score' || $ctrl.activeColumn == 'shooting_score'">
              {{ session.shooting_score | formatNumber:'0' }}
            </td>
            <td ng-show="$ctrl.activeColumn == 'shooting_score'">
              {{ session.shot_number | formatNumber:'0' }}
            </td>
            <td ng-show="$ctrl.activeColumn == 'shooting_score'">
              {{ session.shot_speed * 3.6 | formatNumber:'0.0' }} km/h
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
