<header-component></header-component>

<div class="first-element">
</div>
<div class="jumbotron">
  <div class="floating-logo">
    <img ng-src="../assets/img/city-logo.png" class="img-responsive">
  </div>
  <div class="container">
    <div class="row text-center">
      <line-up-line ng-repeat="players in $ctrl.players.slice().reverse()" players="players">
      </line-up-line>
    </div>
  </div>
</div>

<div class="container" ng-if="$ctrl.leaderboard.length">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-uppercase">{{ 'LEADERBOARD.TITLE' | translate }}</h3>
        </div>
        <div class="list-group" infinite-scroll="$ctrl.getNextPage()" infinite-scroll-distance="1">
            <div class="list-group-item" ng-if="!$ctrl.leaderboard.length">
              {{ 'LEADERBOARD.NO_PROFILES' | translate }}
            </div>
            <leaderboard-list-item
              ng-repeat="player in $ctrl.leaderboard" player="player" ranking="$index + 1">
            </leaderboard-list-item>
        </div>
      </div>
    </div>
  </div>
</div>
