<header-component></header-component>

<div class="first-element">
</div>
<div class="jumbotron">
  <div class="floating-logo">
    <img ng-src="../assets/img/city-logo.png" class="img-responsive">
  </div>
  <div class="container">
    <div class="row vertical-align">
      <div class="col-xs-6">
        <img ng-src="{{ $ctrl.profile.profile_pic || '../assets/faces/default-avatar.png' }}"
             class="img-circle img-responsive" alt="{{ $ctrl.profile.name }}" style="max-width: 200px;">
      </div>
      <div class="col-xs-6 text-right">
        <p style="font-weight: 450;" ng-if="$ctrl.player">
          {{ $ctrl.player.dynamic_rank | formatNumber: '0o' }}
          <span ng-if="$ctrl.player.old_rank && $ctrl.player.old_rank !== $ctrl.player.dynamic_rank">
            (<span ng-if="$ctrl.player.old_rank > $ctrl.player.dynamic_rank">+</span>{{ $ctrl.player.old_rank - $ctrl.player.dynamic_rank }})
          </span>
        </p>
        <p style="font-weight: 700; margin-bottom: 0;" class="text-uppercase">
          {{ $ctrl.profile.name || $ctrl.player.name }}
          <a href="" ng-click="$ctrl.auth.openProfileUpdateModal()" ng-if="$ctrl.isMe">
            <i class="fa fa-pencil"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-if="$ctrl.player">
  <div class="row bottom-margin">
    <div class="col-xs-6">
      <div class="media">
        <div class="media-left">
          <div class="flag-icon-background flag-icon-squared img-circle squared-thumbnail"
               ng-class="'flag-icon-' + ($ctrl.profile.country.toLowerCase() || 'gb')">
          </div>
        </div>
        <div class="media-body">
          <h4 class="media-heading text-uppercase">{{ ($ctrl.profile.country || 'gb') | formatCountry:$root.lang }}</h4>
          {{ $ctrl.profile.city || 'Manchester' }}
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="media">
        <div class="media-left">
          <img ng-src="{{ '../assets/faces/' + $ctrl.player.fifa_equiv.fifa_id +'.png' }}" class="img-circle squared-thumbnail" ng-if="$ctrl.player.fifa_equiv.fifa_id">
          <img ng-src="../assets/faces/default-avatar.png" class="img-circle squared-thumbnail" ng-if="!$ctrl.player.fifa_equiv.fifa_id">
        </div>
        <div class="media-body">
          <h4 class="media-heading text-uppercase">{{ 'PROFILE.DOPPELGANGER' | translate }}</h4>
          <span ng-if="$ctrl.player.fifa_equiv">{{ $ctrl.player.fifa_equiv.name }}</span>
          <span ng-if="!$ctrl.player.fifa_equiv">{{ 'PROFILE.EMPTY_DOPPELGANGER' | translate }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-uppercase">
            {{ 'PROFILE.SESSIONS' | translate }}
          </h3>
        </div>
        <div class="list-group">
          <div class="list-group-item" ng-if="!$ctrl.sessions.length">
            {{ 'PROFILE.NO_SESSIONS' | translate }}
          </div>
          <a class="list-group-item"
             ui-sref="sessionDetail({id: session.id})"
             ng-repeat="session in $ctrl.sessions">
            <div class="media">
              <div class="media-left">
                <img ng-src="{{ '../assets/faces/' + session.fifa_equiv.fifa_id +'.png' }}" class="img-circle squared-thumbnail">
              </div>
              <div class="media-body">
                {{ session.date | amUtc | amLocal | amCalendar }}
                <span class="pull-right">{{session.score | formatNumber:'0' }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
