<header-component></header-component>

<div class="first-element">
</div>
<div class="jumbotron">
  <div class="floating-logo">
    <img ng-src="../assets/img/city-logo.png" class="img-responsive">
  </div>
  <div class="container">
    <div class="row vertical-align">
      <div class="col-xs-6 face-container">
        <img ng-src="{{ '../assets/faces/' + $ctrl.session.fifa_equiv.fifa_id +'.png' }}" class="img-responsive" alt="{{ $ctrl.session.fifa_equiv.name }}">
      </div>
      <div class="col-xs-6 text-right">
        <p style="font-weight: 450;" class="text-uppercase">{{ $ctrl.profile.name || $ctrl.session.player.name }}</p>
        <p style="font-weight: 300; margin-bottom: 0;">{{ 'SESSION.STYLE_OF' | translate }}</p>
        <p style="font-weight: 600; margin-bottom: 0;" class="text-uppercase">{{ $ctrl.session.fifa_equiv.name }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-if="$ctrl.profile">
  <div class="row bottom-margin">
    <div class="col-xs-6">
      <div class="media">
        <div class="media-left">
          <div class="flag-icon-background flag-icon-squared img-circle squared-thumbnail"
               ng-class="'flag-icon-' + ($ctrl.profile.country.toLowerCase() || 'gb')">
          </div>
        </div>
        <div class="media-body">
          <h4 class="media-heading text-uppercase">{{ ($ctrl.profile.country || 'gb') | formatCountry:$root.lang }}</h4>
          {{ $ctrl.profile.city || 'Manchester' }}
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <a ui-sref="profileDetail({id: $ctrl.player.okocha_id})">
        <div class="media">
          <div class="media-left">
            <img ng-src="{{ $ctrl.profile.profile_pic || '../assets/faces/default-avatar.png' }}" class="img-circle squared-thumbnail">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">{{ $ctrl.profile.name }}</h4>
            {{ $ctrl.player.dynamic_rank | formatNumber: '0o' }}
            <span ng-if="$ctrl.player.old_rank && $ctrl.player.old_rank !== $ctrl.player.dynamic_rank">
              (<span ng-if="$ctrl.player.old_rank > $ctrl.player.dynamic_rank">+</span>{{ $ctrl.player.old_rank - $ctrl.player.dynamic_rank }})
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary bottom-margin">
        <div class="panel-heading">
          <h3 class="panel-title text-uppercase">{{ 'SESSION.TOTAL' | translate }}<span class="pull-right">{{ $ctrl.session.score  | formatNumber:'0' }}</span></h3>
        </div>
        <table class="table">
          <tr>
            <th>{{ 'SESSION.SPEED' | translate }}</th>
            <td class="text-right">{{ $ctrl.session.speed_score  | formatNumber:'0' }}</td>
            <th>{{ 'SESSION.STAMINA' | translate }}</th>
            <td class="text-right">{{ $ctrl.session.stamina_score  | formatNumber:'0' }}</td>
          </tr>
          <tr>
            <th>{{ 'SESSION.DRIBBLING' | translate }}</th>
            <td class="text-right">{{ $ctrl.session.dribbling_score  | formatNumber:'0' }}</td>
            <th>{{ 'SESSION.DEFENDING' | translate }}</th>
            <td class="text-right">{{ $ctrl.session.defending_score  | formatNumber:'0' }}</td>
          </tr>
          <tr>
            <th>{{ 'SESSION.PASSING' | translate }}</th>
            <td class="text-right">{{ $ctrl.session.passing_score  | formatNumber:'0' }}</td>
            <th>{{ 'SESSION.SHOOTING' | translate }}</th>
            <td class="text-right">{{ $ctrl.session.shooting_score  | formatNumber:'0' }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="media highlighted-div">
        <div class="media-left">
          <img ng-src="../assets/faces/guardiola.png" class="img-circle squared-thumbnail">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ 'SESSION.PEPSEYE' | translate }} {{ 'SESSION.STYLE.TITLE.' + $ctrl.session.playing_style | translate }}</h4>
          {{ 'SESSION.STYLE.BODY.' + $ctrl.session.playing_style | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
