<header-component></header-component>

<div class="container">
  <div class="bottom-margin"></div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title text-uppercase">
        Ranking
      </h4>
    </div>
    <div class="table-responsive">
      <table class="table text-uppercase text-center table-hover">
        <thead>
          <tr>
            <th>
              NAME:
            </th>
            <th href="" class="text-center" ng-click="$ctrl.activeColumn = 'cmj'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == 'cmj'}">
                Jump:
              </span>
            </th>

            <th href="" class="text-center" ng-click="$ctrl.activeColumn = 'agility'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == 'agility'}">
                Agility:
              </span>
            </th>

            <th href="" class="text-center" ng-click="$ctrl.activeColumn = '5m'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == '5m'}">
                5M sprint:
              </span>
            </th>

            <th href="" class="text-center" ng-click="$ctrl.activeColumn = '20m'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == '20m'}">
                20M sprint:
              </span>
            </th>

            <th href="" class="text-center" ng-click="$ctrl.activeColumn = 'yoyo'">
              <span ng-class="{'label label-primary': $ctrl.activeColumn == 'yoyo'}">
                Yoyo:
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in $ctrl.players | orderBy:$ctrl.activeColumn:true"
              ui-sref="profileDetail({id: player.okochaId})">
            <td class="text-left">
              {{ player.name }}
            </td>
            <td ng-class="{'h5': $ctrl.activeColumn == 'cmj'}">
              {{ player.cmj | formatNumber:'0.0' }} cm
            </td>

            <td ng-class="{'h5': $ctrl.activeColumn == 'agility'}">
              {{ player.agility | formatNumber:'0.00' }} s
            </td>

            <td ng-class="{'h5': $ctrl.activeColumn == '5m'}">
              {{ player['5m'] | formatNumber:'0.00' }} s
            </td>

            <td ng-class="{'h5': $ctrl.activeColumn == '20m'}">
              {{ player['20m'] | formatNumber:'0.00' }} s
            </td>

            <td ng-class="{'h5': $ctrl.activeColumn == 'yoyo'}">
              {{ player.yoyo | formatNumber:'0.00' }} km/h
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
