<header-component></header-component>

<div class="first-element">
</div>
<div class="jumbotron">
  <div class="container">
    <div class="row text-center vertical-align" style="justify-content: space-evenly;">
      <div class="podium face-container">
        <img ng-src="../assets/clubs/{{ $ctrl.clubs[1].logo }}"
             class="img-responsive"
             style="margin: auto;">
        <div style="height: 120px;">
          <h4>{{ $ctrl.clubs[1].score }}</h4>
        </div>
      </div>
      <div class="podium face-container">
        <img ng-src="../assets/clubs/{{ $ctrl.clubs[0].logo }}"
             class="img-responsive"
             style="margin: auto;">
        <div style="height: 160px;">
          <h4>{{ $ctrl.clubs[0].score }}</h4>
        </div>
      </div>
      <div class="podium face-container">
        <img ng-src="../assets/clubs/{{ $ctrl.clubs[2].logo }}"
             class="img-responsive"
             style="margin: auto;">
        <div style="height: 80px;">
          <h4>{{ $ctrl.clubs[2].score }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row bottom-margin">
    <div class="col-xs-12">
      <h1 class="text-uppercase text-center text-primary">
        {{ 'WORLDCUP.TITLE' | translate }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <table class="table">
          <tr ng-repeat="club in $ctrl.clubs.slice(3)" style="height: 60px;">
            <th style="vertical-align: middle;">{{ $index + 4 | formatNumber:'0o' }}</th>
            <td class="text-center" style="vertical-align: middle;">
              <img ng-src="../assets/clubs/{{ club.logo }}" class="img-circle almost-squared-thumbnail">
            </td>
            <td style="vertical-align: middle;">
              {{ club.name }}
            </td>
            <td style="vertical-align: middle;">
              {{ club.score }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
