<div class="modal-header">
  <h3 class="modal-title" id="modal-title">
    {{'GAME.EDIT_TITLE' | translate}}{{ $ctrl.resolve.day | amDateFormat:'ddd, ll' }}
  </h3>
</div>

<form ng-submit="$ctrl.save()" name="$ctrl.gameForm">
  <div class="modal-body" id="modal-body">
    <!-- Alert module -->
    <div uib-alert ng-if="$ctrl.alert.type" ng-class="'alert-' + $ctrl.alert.type" close="$ctrl.alert.close()">{{ $ctrl.alert.msg }}</div>

    <!-- Existing games -->
    <h3 ng-if="$ctrl.existingGames.length">{{'GAME.REG_SESSIONS' | translate}}</h3>
    <div class="list-group">
      <a href="" class="list-group-item"
         ng-click="$ctrl.selectGame($index)"
         ng-repeat="game in $ctrl.existingGames"
         ng-class="{active: $ctrl.selectedGame === $index}">
        {{ $ctrl.gameTypesDisplay(game.game_type) }}<br/>
        <small>{{ game.start_date | amCalendar }}</small>
      </a>
    </div>

    <!-- Form -->
    <h3 ng-if="!$ctrl.game.id">{{'GAME.NEW_SESSIONS' | translate}}</h3>
    <h3 ng-if="$ctrl.game.id">{{'GAME.EDIT_SESSIONS' | translate}}</h3>

    <!-- Game details -->
    <div class="form-group">
      <label for="gameType">{{'GAME.TYPE' | translate}}</label>
      <select class="form-control" ng-model="$ctrl.game.game_type" id="gameType"
              ng-options="typeItem.key as typeItem.value for typeItem in $ctrl.gameTypes" required></select>
    </div>
    <div class="form-group row">
      <div class="col-xs-6">
        <label for="gameStartTime">{{'GAME.START_TIME' | translate}}</label>
        <input type="time" class="form-control"
               ng-model="$ctrl.formStartTime" id="gameStartTime" required></input>
      </div>
      <div class="col-xs-6">
        <label for="gameStopTime">{{'GAME.STOP_TIME' | translate}}</label>
        <input type="time" class="form-control"
               ng-model="$ctrl.formStopTime" id="gameStopTime" required></input>
      </div>
    </div>

    <!-- Player list -->
    <div class="form-group row" ng-repeat="session in $ctrl.game.sessions">
      <div class="col-xs-12 col-sm-9"
           ng-class="{'col-sm-6': $ctrl.game.game_type === '11' || $ctrl.game.game_type === '5v'}">
        <input type="text" class="form-control" ng-if="!session.id" required
               ng-model="session.name"
               uib-typeahead="trainee.id as trainee.name for trainee in $ctrl.filteredTrainees | filter:{name:$viewValue}"
               typeahead-on-select="$ctrl.selectedPlayer(session, $item);"
               typeahead-editable="false"
               typeahead-select-on-exact="true"
               ></input>
        <input type="text" class="form-control" ng-if="session.id && $ctrl.trainees"
               ng-value="$ctrl.getTraineeName(session.player)" disabled></input>
      </div>
      <div class="col-xs-6 col-sm-3 text-center" ng-if="$ctrl.game.game_type === '11' || $ctrl.game.game_type === '5v'">
        <div class="btn-group">
          <label class="btn btn-default" ng-model="session.was_home" uib-btn-radio="true">H</label>
          <label class="btn btn-default" ng-model="session.was_home" uib-btn-radio="null">|</label>
          <label class="btn btn-default" ng-model="session.was_home" uib-btn-radio="false">A</label>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <input ng-model="session.tracker"
               class="form-control" ng-if="!session.id" required></input>
        <input ng-value="$ctrl.getTraineeTracker(session.player)" ng-if="session.id && $ctrl.trainees"
               class="form-control" disabled></input>
      </div>
    </div>

    <!-- Controls -->
    <button class="btn btn-default" ng-click="$ctrl.addSessionToGame()" type="button">
      {{'GAME.ADD_PLAYER' | translate}}
    </button>
    <button class="btn btn-default" ng-click="$ctrl.addRegularSessionsToGame()"  type="button">
      {{'GAME.ADD_ALL_PLAYERS' | translate}}
    </button>
  </div>

  <!-- Footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.gameForm.$submitted">
      {{ 'GENERAL.MODAL.SAVE' | translate }}
    </button>
    <button class="btn btn-default" ng-click="$ctrl.addNewGame()"  type="button">
      {{'GAME.ADD_SESSION' | translate}}
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.dismiss()">
      {{ 'GENERAL.MODAL.DISMISS' | translate }}
    </button>
  </div>
</form>
