<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              ng-click="$ctrl.isOpen = !$ctrl.isOpen">
        <span class="sr-only">{{ 'GENERAL.NAVBAR.TOGGLE' | translate }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app">
        <img alt="Man City Footbar App" class="navbar-logo" ng-src="../assets/img/city-logo.png">
      </a>
    </div>

    <!-- FIXME: Collapse has no animation, maybe something is missing -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="!$ctrl.isOpen">
      <ul class="nav navbar-nav text-uppercase">
        <li ui-sref-active="active"><a ui-sref="leaderboard">
            {{ 'GENERAL.NAVBAR.LEADERBOARD' | translate }}
        </a></li>
        <li ui-sref-active="active"><a ui-sref="gameList">
            {{ 'GENERAL.NAVBAR.GAME_LIST' | translate }}
        </a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right text-uppercase">
        <li class="dropdown" uib-dropdown>
          <a href="#"
             class="dropdown-toggle" uib-dropdown-toggle
             title="{{ 'GENERAL.NAVBAR.TOGGLE_LANG' | translate }}">
            <span class="flag-icon" ng-class="{
                                              'flag-icon-gb': $root.lang === 'en',
                                              'flag-icon-fr': $root.lang === 'fr'
                                              }"></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-class="{active: $root.lang === 'en'}">
              <a ui-sref="{lang: 'en'}">
                <span class="flag-icon flag-icon-gb"></span>
                {{ 'GENERAL.NAVBAR.EN' | translate }}
              </a>
            </li>
            <li ng-class="{active: $root.lang === 'fr'}">
              <a ui-sref="{lang: 'fr'}">
                <span class="flag-icon flag-icon-fr"></span>
                {{ 'GENERAL.NAVBAR.FR' | translate }}
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown" uib-dropdown>
          <a class="dropdown-toggle" href=""
             title="{{ 'GENERAL.NAVBAR.PROFILE' | translate }}" uib-dropdown-toggle>
            <i class="fa fa-user" style="font-size: 1.3em;"></i>
            <i ng-show="$ctrl.auth.isAuthenticated" class="fa fa-check text-success status-icon" style="color: #2ecc71;"></i>
            <i ng-show="!$ctrl.auth.isAuthenticated" class="fa fa-times text-danger status-icon" style="color: #e74c3c;"></i>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-if="!$ctrl.auth.isAuthenticated">
              <a href="" ng-click="$ctrl.auth.openConnectionModal()">
                {{ 'GENERAL.NAVBAR.ACCOUNT' | translate }}
              </a>
            </li>
            <li ng-if="!$ctrl.auth.isAuthenticated">
              <a href="" ng-click="$ctrl.auth.openSignupModal()">
                {{ 'GENERAL.MODAL.CREATE_ACCOUNT' | translate }}
              </a>
            </li>
            <li ng-if="$ctrl.auth.isAuthenticated" ui-sref-active="active">
              <a ui-sref="myProfileDetail()">
                {{ 'GENERAL.NAVBAR.MY_ACCOUNT' | translate }}
              </a>
            </li>
            <li ng-if="$ctrl.auth.isAuthenticated">
              <a ng-click="$ctrl.auth.logout()" href="">
                {{ 'GENERAL.MODAL.LOGOUT' | translate }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
