<a class="list-group-item media"
     ui-sref="profileDetail({id: $ctrl.player.okocha_id })">

  <div class="media-left">
    {{ $ctrl.player.dynamic_rank | formatNumber:'0o' }}
  </div>

  <div class="media-left">
    <img ng-src="{{ $ctrl.profile.profile_pic || '../assets/faces/default-avatar.png' }}"
         class="img-circle squared-thumbnail">
  </div>

  <div class="media-body">
    <span class="text-uppercase"> <!-- ng-class="{'text-placeholder': !$ctrl.profile}" -->
      <!-- {{ $ctrl.profile.name }} -->
      {{ $ctrl.player.name }}
    </span>
  </div>

  <div class="media-right">
    <h3>{{ $ctrl.player.score | formatNumber:'0' }}</h3>
    <h5 ng-if="$ctrl.player.old_rank && $ctrl.player.old_rank !== $ctrl.player.dynamic_rank"
          ng-class="($ctrl.player.old_rank > $ctrl.player.dynamic_rank) ? 'text-success' : 'text-danger'">
      (<span ng-if="$ctrl.player.old_rank > $ctrl.player.dynamic_rank">+</span>{{$ctrl.player.old_rank-$ctrl.player.dynamic_rank}})
    </h5>
  </div>
</a>
