<div ui-sref="profileDetail({id: $ctrl.player.id })">
  <span class="player-score" ng-if="$ctrl.player.score">
    {{ $ctrl.player.score | number:0 }}
  </span>
  <img ng-src="{{ $ctrl.player.profilePic || '../assets/faces/default-avatar.png' }}" class="img-circle" ng-if="$ctrl.player.name">
  <img ng-src="{{ '../assets/faces/' + $ctrl.player.equivalent.fifaId +'.png' }}" class="img-circle" ng-if="$ctrl.player.equivalent">
  <div class="player text-uppercase hidden-xs">
    {{ $ctrl.player.name || $ctrl.player.equivalent.name }}
  </div>
  <div class="player text-uppercase visible-xs smaller">
    {{ $ctrl.player.name || $ctrl.player.equivalent.name  }}
  </div>
  <div class="hidden-xs" ng-if="$ctrl.player.equivalent && $ctrl.player.name">
    {{ 'LEADERBOARD.AS' | translate }} <span class="text-uppercase">{{ $ctrl.player.equivalent.name }}</span>
  </div>
</div>
