<div class="modal-header">
  <h3 class="modal-title" id="modal-title">
    {{ 'GENERAL.MODAL.TITLE_MERGE_PROFILE' | translate }}
  </h3>
</div>

<div class="modal-body" id="modal-body">
  <!-- Alert module -->
  <div uib-alert ng-if="$ctrl.alert.type" ng-class="'alert-' + $ctrl.alert.type" close="$ctrl.alert.close()">{{ $ctrl.alert.msg }}</div>

  <p>
    {{ 'GENERAL.MODAL.BODY_MERGE_PROFILE' | translate }}
  </p>

  <tags-input ng-model="$ctrl.selectedProfiles"
              key-property="id"
              placeholder="{{ 'GENERAL.MODAL.TYPE_PLAYER' | translate }}"
              add-from-autocomplete-only="true">
    <auto-complete source="$ctrl.loadAutocompletion($query)"></auto-complete>
</div>

<!-- Footer -->
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$ctrl.profileMerge()">
    {{'GENERAL.MODAL.CTA_MERGE_PROFILE' | translate}}
  </button>
  <button class="btn btn-primary" ng-click="$ctrl.profileMergeCancel()">
    {{'GENERAL.MODAL.CANCEL_MERGE_PROFILE' | translate}}
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.dismiss()">
    {{ 'GENERAL.MODAL.DISMISS' | translate }}
  </button>
</div>
