<div class="modal-header">
  <h3 class="modal-title" id="modal-title">
    {{ 'GENERAL.MODAL.TITLE_UPDATE_PROFILE' | translate }}
  </h3>
</div>

<div class="modal-body" id="modal-body">

  <!-- Alert module -->
  <div uib-alert ng-if="$ctrl.alert.type" ng-class="'alert-' + $ctrl.alert.type" close="$ctrl.alert.close()">{{ $ctrl.alert.msg }}</div>

  <!-- Form -->
  <form ng-submit="$ctrl.profileUpdate()" ng-show="$ctrl.auth.isAuthenticated">

    <!-- Profile picture -->
    <div class="form-group" ng-class="{'has-error': $ctrl.errors.profile_pic}">
      <label for="profilePic">{{'GENERAL.USER.PROFILE_PIC' | translate}}</label>
    </div>
    <div class="form-group">
      <img ng-if="!$ctrl.auth.user.newPic" ngf-thumbnail="$ctrl.auth.user.profile_pic ||  '../assets/faces/default-avatar.png'"/>
      <img ng-if="$ctrl.auth.user.newPic" ngf-thumbnail="$ctrl.auth.user.newPic" ngf-size="{width: 200, height: 200, quality: 0.9}"/>
    </div>
    <div class="form-group">
      <div class="btn btn-default" ngf-select ng-model="$ctrl.auth.user.newPic"
           ngf-accept="'image/*'" ngf-max-size="20MB"
           ngf-resize="{width: 200, height: 200}">{{'GENERAL.USER.CHOOSE_PIC' | translate}}</div>
      {{$ctrl.auth.user.newPic.$ngfName}}
      <span class="help-block" ng-repeat="error in $ctrl.errors.profile_pic">{{error}}</span>
    </div>

    <!-- Identity fields -->
    <div class="form-group" ng-class="{'has-error': $ctrl.errors.first_name}">
      <label for="firstName">{{'GENERAL.USER.FIRST_NAME' | translate}}</label>
      <input type="firstName" name="firstName" class="form-control" ng-model="$ctrl.auth.user.first_name"
             placeholder="{{'GENERAL.USER.FIRST_NAME' | translate}}"/>
      <span class="help-block" ng-repeat="error in $ctrl.errors.first_name">{{error}}</span>
    </div>
    <div class="form-group" ng-class="{'has-error': $ctrl.errors.last_name}">
      <label for="lastName">{{'GENERAL.USER.LAST_NAME' | translate}}</label>
      <input type="text" name="lastName" class="form-control" ng-model="$ctrl.auth.user.last_name"
             placeholder="{{'GENERAL.USER.LAST_NAME' | translate}}"/>
      <span class="help-block" ng-repeat="error in $ctrl.errors.last_name">{{error}}</span>
    </div>

    <!-- Country and city -->
    <div class="form-group" ng-class="{'has-error': $ctrl.errors.country}">
      <label for="country">{{'GENERAL.USER.COUNTRY' | translate}}</label>
      <select class="form-control" ng-model="$ctrl.auth.user.country"
              ng-options="k as v for (k, v) in $ctrl.getAvailableCountries($root.lang)"></select>
      <span class="help-block" ng-repeat="error in $ctrl.errors.country">{{error}}</span>
    </div>
    <div class="form-group" ng-class="{'has-error': $ctrl.errors.city}">
      <label for="firstName">{{'GENERAL.USER.CITY' | translate}}</label>
      <input type="firstName" name="firstName" class="form-control" ng-model="$ctrl.auth.user.city"
             placeholder="{{'GENERAL.USER.CITY' | translate}}"/>
      <span class="help-block" ng-repeat="error in $ctrl.errors.city">{{error}}</span>
    </div>
  </form>
</div>

<!-- Footer -->
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$ctrl.profileUpdate()" ng-show="$ctrl.auth.isAuthenticated">
    {{'GENERAL.MODAL.CTA_UPDATE_PROFILE' | translate}}
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.dismiss()">
    {{ 'GENERAL.MODAL.DISMISS' | translate }}
  </button>
</div>

