<div class="modal-header">
  <h3 class="modal-title" id="modal-title" ng-if="!$ctrl.auth.isAuthenticated">
    {{ 'GENERAL.MODAL.TITLE_SIGNUP' | translate }}
  </h3>
  <h3 class="modal-title" id="modal-title" ng-if="$ctrl.auth.isAuthenticated">
    {{ 'GENERAL.MODAL.TITLE_LOGOUT' | translate }}
  </h3>
</div>

<div class="modal-body" id="modal-body" ng-if="!$ctrl.auth.isAuthenticated">
  <!-- Alert module -->
  <div uib-alert ng-if="$ctrl.alert.type" ng-class="'alert-' + $ctrl.alert.type" close="$ctrl.alert.close()">{{ $ctrl.alert.msg }}</div>

  <!-- Form -->
  <h4 class="title-underline">{{'GENERAL.MODAL.WITH_FACEBOOK' | translate}}</h4>
  <button class="btn btn-facebook" ng-click="$ctrl.facebook()">
    <i class="fa fa-facebook-square fa-lg"></i> {{'GENERAL.MODAL.CONNECT' | translate}}
  </button>
  <h4 class="title-underline"  style="margin-top: 20px;">{{'GENERAL.MODAL.WITH_AN_EMAIL' | translate}}</h4>
  <form ng-submit="$ctrl.signup()">
    <div class="form-group" ng-class="{'has-error': $ctrl.errors.email}">
      <label for="email">{{'GENERAL.USER.EMAIL' | translate}}</label>
      <input type="email" name="email" class="form-control" ng-model="$ctrl.user.email"
             placeholder="{{'GENERAL.USER.EMAIL' | translate}}" required/>
      <span class="help-block" ng-repeat="error in $ctrl.errors.email">
        {{error}}
      </span>
      <span class="help-block" ng-if="$ctrl.errors.resetMail">
        <a class="text-danger disabled">{{ 'GENERAL.MODAL.FORGOT_PASSWORD' | translate }}</a>
      </span>
    </div>
    <div class="form-group" ng-class="{'has-error': $ctrl.errors.password1}">
      <label for="password1">{{'GENERAL.USER.PASSWORD' | translate}}</label>
      <input type="password" name="password1" class="form-control" ng-model="$ctrl.user.password1"
             placeholder="{{'GENERAL.USER.PASSWORD' | translate}}" required/>
      <span class="help-block" ng-repeat="error in $ctrl.errors.password1">{{error}}</span>
    </div>
    <div class="form-group" ng-class="{'has-error': $ctrl.errors.password2}">
      <label for="password2">{{'GENERAL.MODAL.CONFIRM_PASSWORD' | translate}}</label>
      <input type="password" name="password2" class="form-control" ng-model="$ctrl.user.password2"
             placeholder="{{'GENERAL.USER.PASSWORD' | translate}}" required/>
      <span class="help-block" ng-repeat="error in $ctrl.errors.password2">{{error}}</span>
    </div>

    <button class="btn btn-primary" type="submit">{{'GENERAL.MODAL.CONFIRM' | translate}}</button>
  </form>
</div>

<!-- Footer -->
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$ctrl.auth.logout()"
          ng-if="$ctrl.auth.isAuthenticated">
    {{'GENERAL.MODAL.LOGOUT' | translate}}
  </button>
  <button class="btn btn-default" type="button"
          ng-click="$ctrl.auth.openConnectionModal()" ng-if="!$ctrl.auth.isAuthenticated">
    {{ 'GENERAL.MODAL.LOG_EXISTING_ACCOUNT' | translate}}
  </button>
  <button class="btn btn-default disabled" type="button" ng-if="!$ctrl.auth.isAuthenticated">
    {{ 'GENERAL.MODAL.FORGOT_PASSWORD' | translate }}
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.dismiss()">
    {{ 'GENERAL.MODAL.DISMISS' | translate }}
  </button>
</div>
