<div class="modal-header">
  <h3 class="modal-title" id="modal-title">
    {{'TRAINING_GROUP.EDIT' | translate}}
  </h3>
</div>

<form ng-submit="$ctrl.save()" name="$ctrl.tgForm">
  <div class="modal-body" id="modal-body">
    <!-- Alert module -->
    <div uib-alert ng-if="$ctrl.alert.type" ng-class="'alert-' + $ctrl.alert.type" close="$ctrl.alert.close()">{{ $ctrl.alert.msg }}</div>

    <!-- Game details -->
    <div class="form-group">
      <label for="trainingGroupTitle">{{'TRAINING_GROUP.NAME' | translate}}</label>
      <input type="text" class="form-control" ng-model="$ctrl.trainingGroup.title" id="trainingGroupTitle" required></input>
    </div>
    <div class="form-group row">
      <div class="col-xs-6">
        <label for="tgStartDate">{{'GAME.START_TIME' | translate}}</label>
        <input type="date" class="form-control"
               ng-init="$ctrl.formStartDate = $ctrl.moment($ctrl.trainingGroup.start_date).toDate()"
               ng-model="$ctrl.formStartDate" id="tgStartDate" required></input>
      </div>
      <div class="col-xs-6">
        <label for="tgStopDate">{{'GAME.STOP_TIME' | translate}}</label>
        <input type="date" class="form-control"
               ng-init="$ctrl.formStopDate = $ctrl.moment($ctrl.trainingGroup.stop_date).toDate()"
               ng-model="$ctrl.formStopDate" id="tgStopDate" required></input>
      </div>
    </div>

    <!-- Player list -->
    <div class="form-group row" ng-repeat="player in $ctrl.trainingGroup.players">
      <div class="col-xs-1">
        <button class="btn btn-default" type="button" ng-click="$ctrl.removePlayer($index)">
          <span class="fa fa-times"></span>
        </button>
      </div>
      <div class="col-xs-7">
        <input type="text" class="form-control" ng-model="player.name" required></input>
      </div>
      <div class="col-xs-4">
        <input type="text" class="form-control" ng-model="player.favorite_tracker_commercial_name"
               placeholder="{{'TRAINING_GROUP.FAV_TRACKER' | translate}}"></input>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.tgForm.$submitted">
      {{'GENERAL.MODAL.SAVE' | translate}}
    </button>
    <button class="btn btn-default" ng-click="$ctrl.addPlayer()" type="button">
      {{'TRAINING_GROUP.ADD_PLAYER' | translate}}
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.dismiss()">
      {{ 'GENERAL.MODAL.DISMISS' | translate }}
    </button>
  </div>
</form>
