<fountain-header></fountain-header>

<!-- Alert module -->
<div uib-alert ng-if="$ctrl.alert.type"
     ng-class="'alert-' + $ctrl.alert.type" close="$ctrl.alert.close()"
     class="fixed-alert">{{ $ctrl.alert.msg }}</div>

<ui-view/>
