/* Bootstrap core variables and mixins. */
@import "~bootstrap/less/variables.less";
@import "~bootstrap/less/mixins.less";

/* Bootstrap reset and dependencies. */
@import "~bootstrap/less/normalize.less";
@import "~bootstrap/less/print.less";

/* Bootstrap core CSS. */
@import "~bootstrap/less/scaffolding.less";
@import "~bootstrap/less/type.less";
@import "~bootstrap/less/code.less";
@import "~bootstrap/less/grid.less";
@import "~bootstrap/less/tables.less";
@import "~bootstrap/less/forms.less";
@import "~bootstrap/less/buttons.less";
@import "~bootstrap/less/button-groups.less";

/* Bootstrap components. Add only those you need. */
@import "~bootstrap/less/navs.less";
@import "~bootstrap/less/navbar.less";
@import "~bootstrap/less/component-animations.less";
@import "~bootstrap/less/dropdowns.less";
@import "~bootstrap/less/jumbotron.less";
@import "~bootstrap/less/media.less";
@import "~bootstrap/less/panels.less";
@import "~bootstrap/less/list-group.less";
@import "~bootstrap/less/alerts.less";
@import "~bootstrap/less/close.less";
@import "~bootstrap/less/modals.less";
@import "~bootstrap/less/labels.less";
@import "~bootstrap/less/badges.less";

/* Bootstrap utility classes. */
@import "~bootstrap/less/utilities.less";
@import "~bootstrap/less/responsive-utilities.less";
@import "~bootstrap/less/responsive-embed.less";

/* Country flags. */
@import "~flag-icon-css/css/flag-icon.css";

/* Font awesome. */
@import "~font-awesome/less/font-awesome.less";
@fa-font-path: "~font-awesome/fonts";

/* Ng Tags Input */
@import "~ng-tags-input/build/ng-tags-input.min.css";
@import "~ng-tags-input/build/ng-tags-input.bootstrap.min.css";

/* Loading bar style. */
@import "~angular-loading-bar/src/loading-bar.css";

/* Custom colors. */
@brand-primary: #00285e;
@navbar-inverse-bg: #00285e;
@navbar-inverse-color: @gray-lighter;
@navbar-inverse-link-color: @gray-lighter;
@navbar-inverse-toggle-hover-bg: darken(@navbar-inverse-bg, 10%);
@navbar-inverse-toggle-border-color: transparent;
@headings-font-weight: 700;
@jumbotron-bg: #98c5e9;
@jumbotron-color: #fff;
@font-family-sans-serif:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
@thumbnail-size: @navbar-height - 10;
@panel-border-radius: 20px;

/* Navbar. */
body {
  padding-top: @navbar-height;
}

.navbar {
  border: 0px;
}

.navbar-brand {
  padding: 5px 10px;
  .navbar-logo {
    width: @thumbnail-size;
  }
}

.first-element {
  background-color: @navbar-inverse-bg;
  width: 100%;
  height: @jumbotron-padding;
  position: absolute;
  z-index:-1;

  + .jumbotron {
    position: relative;

    .floating-logo {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      z-index: 1;
    }

    .floating-logo img {
      opacity: 0.1;
      top: 5%;
      height: 90%;
      position: relative;
      margin: auto;
    }

    .container, .container-fluid {
      position: relative;
      z-index: 2
    }
  }
}

/* Jumbotron. */
.jumbotron {
  border-radius: @jumbotron-padding;

  .face-container {
    margin-bottom: -@jumbotron-padding;
    @media screen and (min-width: @screen-sm-min) {
      margin-bottom: -(@jumbotron-padding * 1.6);
    }
    align-self: flex-end;
  }
}

/* Panels. */
.panel {
  > .table {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: @panel-heading-padding;
        }
      }
    }
  }
}

/* Lineup. */
line-up-line {
  display: block;

  &.straight:first-child {
    margin-top: 30px;
  }
  &.inverted:last-child {
    margin-bottom: 30px;
  }
}

line-up-player {
  display: inline-block;
  padding: @padding-small-vertical @padding-small-horizontal;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    img {
      max-width: 50%;
      max-height: @thumbnail-size;
    }
  }

  .player {
    font-weight: @headings-font-weight;
  }

  .smaller {
    font-size: .8em;
    padding-top: 4px;
  }

  &.offensive {
    position: relative;
    top: -15px;

    &.inverted {
      top: 15px;
    }
  }

  .player-score {
    vertical-align: bottom;
  }
}

/* Podium. */
.podium {
  width: 25%;
  display: inline-block;

  div {
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 10px;

    h4 {
        color: @brand-primary;
    }
  }
}

/* Loading bar customization */
@loading-bar-height: 4px;

#loading-bar .bar {
  background: #fff;
  position: relative;
  height: @loading-bar-height;
  margin-bottom: -@loading-bar-height;
}

/* Utils. */
.vertical-align {
  display: flex;
  align-items: center;
}

.squared-thumbnail {
  height: @thumbnail-size;
  width: @thumbnail-size;
}

.line-height-thumbnail {
  line-height: @thumbnail-size;
}

.almost-squared-thumbnail {
  max-height: @thumbnail-size;
  max-width: @thumbnail-size;
}

.bottom-margin {
  margin-bottom: @jumbotron-padding;
}

.highlighted-div {
  background-color: @jumbotron-bg;
  border-radius: 2 * @panel-border-radius;
  color: #fff;

  .media-body {
    padding: @padding-small-vertical @padding-small-horizontal;
  }

  .squared-thumbnail {
    height: 2 * @thumbnail-size;
    width: 2 * @thumbnail-size;
  }
}

.list-group {
  .media-body, .media-left {
    vertical-align: middle;
  }
}

.fixed-alert {
  position: absolute;
  border-radius: 0px;
  width: 100%;
  z-index: 100;
}

.status-icon {
  position: relative;
  top: .25em;
  right: .75em;
}

th[href], tr[href], div[href] {
  cursor:pointer;
  .label {
    font-size: 1em;
  }
}

.btn-facebook {
  .button-variant(#fff; #3578E5; #3578E5);
}

.text-placeholder {
  width: 6em;
  height: 1em;
  background: @gray-lighter;
  display: inline-block;
}

/* Ng Tags Input did not foresee a less mechanism, so we have to override it */
tags-input .tags {
  border-radius: @input-border-radius;
}

tags-input .tags .tag-item {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  .button-size(@padding-base-vertical - 4; @padding-base-horizontal - 4; @font-size-base; @line-height-base; @btn-border-radius-base);
}

// Quick and dirty floating button.
.floating-button {
  z-index: 99;
  position: fixed;
  width: @thumbnail-size + 20;
  height: @thumbnail-size + 20;
  bottom: @thumbnail-size;
  right: @thumbnail-size;
  background-color: @jumbotron-bg;
  color: #fff;
  border-radius: @thumbnail-size;
  text-align: center;
  box-shadow: 2px 2px 3px @gray-lighter;

  i {
    margin-top: (@thumbnail-size + 20 - @font-size-base) / 2;
  }
}
