<!doctype html>
<html ng-app="app" lang="{{ $root.lang }}">
  <head>
    <!-- Various needed tags -->
    <!-- Set reference for relative urls -->
    <base href="/">
    <!-- Guideline for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Specify character encoding -->
    <meta charset="utf-8">
    <!-- Responsive instructions -->
    <meta name="viewport" content="width=device-width">

    <!-- Main title and descriptions -->
    <!-- WARNING: Hardcode it for default, they will be then dynamically updated -->
    <title>Man City Footbar App</title>
    <meta name="description" content="Who is the greatest citizen fan? Anytime you play with your Meteor Tracker, compare yourself to Manchester City's professional roster, and represent your club in the City Worldcup!">

    <!-- Icon in browser -->
    <link rel="icon" type="image/png" href="../assets/img/city-logo.png" />

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-103671601-6', 'auto');
     </script>
</head>

  <body>
    <ui-view></ui-view>
  </body>
</html>
